* {
  box-sizing: border-box;
}

html {
  font-family: Assistant-Reg, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  padding: 0;
  font-size: 1rem;
  border-radius: 3px;
  background-color: transparent;
  font-family: Assistant-Reg, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  width: 100%;
}

.input {
  width: rem(226px);
  height: rem(40px);
  margin: 0.3rem 0 1.2rem 0;
  background-color: white;
  border-color: black;
  border-radius: rem(5px);
  border-width: rem(1px);
  padding-right: rem(8px);
  
}
