@font-face {
  font-family: Assistant-Light;
  src: url(../../fonts/Assistant-Light.ttf);
}
@font-face {
  font-family: Assistant-Reg;
  src: url(../../fonts/Assistant-Regular.ttf);
}
@font-face {
  font-family: Assistant-Med;
  src: url(../../fonts/Assistant-Medium.ttf);
}
@font-face {
  font-family: Assistant-Semibold;
  src: url(../../fonts/Assistant-SemiBold.ttf);
}
@font-face {
  font-family: Assistant-Bold;
  src: url(../../fonts/Assistant-Bold.ttf);
}
@font-face {
  font-family: Assistant-Extrabold;
  src: url(../../fonts/Assistant-ExtraBold.ttf);
}
