// COLORS

$lightBg: #dfdfdf;
$hoverBg: #e7e7e7;
$darkFont: #000;
$darkBg: #bcbcbc;

$navBg: #dfdfdf;

// volunteer table
$lightCheckbox: #949292;
$reportedHoursClr: #36a501;
$approvedHoursClr: #a80909;
$scrollClr: #c4c4c4;
