.home {
  .table-header {
    margin-inline-end: rem(34px);
    margin-bottom: rem(20px);
    h1 {
      margin: rem(26px) rem(28px);
      line-height: rem(47px);
      font-size: rem(36px);
      font-family: Assistant-Bold;
    }

    .search {
      margin-inline-start: rem(37px);
      height: rem(40px);
      width: rem(180px);
      padding: rem(10px) rem(13px) rem(10px) rem(8px);
      background-color: $lightBg;
      border-radius: 2rem;
      position: relative;
      &:hover {
        background-color: $hoverBg;
      }
      label {
        height: rem(20px);
        svg {
          height: rem(20px);
          width: rem(20.43px);
        }
      }
      input {
        font-family: Assistant-Reg;
        width: 100%;
        margin-inline-start: rem(14px);
        line-height: rem(20px);
        height: rem(20px);
        font-size: rem(20px);
        background-color: transparent;
        border: none;
        &:focus {
          outline: none;
        }
        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
      .clear-btn {
        height: rem(20px);
        width: rem(30px);
        border-radius: 50%;
        opacity: 0;
        &:hover {
          background-color: $darkBg;
        }
        svg {
          height: rem(15px);
          width: rem(12px);
        }
        &.show {
          opacity: 1;
        }
      }
    }

    .header-btns {
      gap: rem(58px);
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: rem(56px);
        width: rem(75px);
        background-color: $lightBg;
        border-radius: rem(6px);
        &:hover {
          background-color: $hoverBg;
        }
      }
    }
  }
}
