.home {
        height: calc(100vh - 8.5vh);
    overflow-y: hidden;
    .home-header {
        height: 13vh;
        h1 {
            line-height: vh(47px);
            font-size: vh(36px);
            font-family: Assistant-Semibold;
        }
    }
    .home-body {
        height: calc(100vh - 21.5vh);
        overflow-y: auto;
        padding-inline-start: 1.6vw;
        padding-inline-end: Max(8px, 1.6vw);
        margin-inline-end: 6px;
        .table-header {
            position: fixed;
            height: 7vh;
            background-color: #fff;
        }
        // selects first row after table-header
        .table-header + .table-row {
            padding-top: 7vh;
        }
        .big-div {
            height: 1000px;
            width: 100%;
        }
        
        // scrollbar
        &::-webkit-scrollbar {
            width: 15px;
        }
        &::-webkit-scrollbar-track {
            margin: 4px;
        }
        &::-webkit-scrollbar-track-piece {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 2rem;
            background: $scrollClr;
        }
    }
}