.volunteer-report {
    margin-top:15px;
    //border-radius: 10px;
    display: flex;
    justify-content: center;
    //height: 100vh;
    //margin: 0px 450px 0px 450px;
    //box-shadow: 0px 0px 14px 4px rgba(215,229,244,0.8);

    //to do - desktop should look like mobile (change from % to px and set layout)

    .logo-img {
        height: 224px;
        width: 326px;
        position: absolute;
        top: 1%;
    
        .logo-mobile {
            width:100%;
            position: absolute;
            left: 8%;
           // object-fit: cover;

        }
    }

    .header {
        font-size:24px;
        font-family: Rubik-Bold;
        line-height: 28.44px;
        color:#2A526F;
        padding-top: 70px;
        position: absolute;
        top: 30%;
    }

    .report-form {
        position: absolute;
        bottom: 0%;
        background-color:#EDF7FD;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        height: 47%;
        width: 100%;
        display: flex;
        justify-content: center;

        .report-program{
            margin-top: 20px;
            font-family: Rubik-Regular;
            color: #D77804;
        }

        .report-btn {
            border-radius: 50%;
            background-color: #92CE7F;
            width:136px;
            height: 136px;
            align-self: center;
            color:white;
            font-family: Rubik-Bold;
            font-size: 24px;
            position: absolute;
            top: 23%;
        }
 
        .report-text {
        color:#2A526F;
        font-size: 12px;
        position: absolute;
        bottom: 30%;
        }

        .confirm-btn {
            width: 80%;
            height: 50px;
            background-color: orange;
            color: white;
            position:absolute;
            bottom: 40%;
        }

        .hours {
            display: flex;
            flex-direction: column;
        }
    }


}

.volunteer-user {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 5px;
}

    