header {
	padding: rem(15px) rem(25px);
	gap: rem(40px);
	background-color: $navBg;
	height: rem(92px);
	font-size: rem(20px);

	.user-icon {
		border-radius: 50%;
		background-color: $darkBg;
		height: rem(62px);
		width: rem(62px);
	}

    .messages {
		position: relative;
		svg {
			width: rem(30.9px);
			height: rem(24.7px);
			position: relative;
			top: rem(3px);
		}
		.notification {
			height: rem(12.36px);
			width: rem(12.36px);
			background: #000;
			border-radius: 50%;
			position: absolute;
			right: rem(-3px);
			top: 0;
		}
	}
}
