.new_group_modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(1200px);
    background-color: white;
    border: none;
    border-radius: rem(3px);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    .new_group_form {
        width: 100%;
        padding: 5%;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    .new_group_form-block {
        display: flex;
        column-gap: 5%;
    }
    .title {
        font-size: rem(18.8px);
        font-family: Assistant-Semibold;
        margin-bottom: 15px;
    }
    .new_group_close-button {
        background-image: url(./../../imgs/icons/close-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 40px;
        height: 40px;
        margin: 10px 10px 0 0;
        transition: 0.3s;

        &:hover {
            opacity: 0.8;
            transform: rotate(180deg);
        }
    }
    .new_group_title {
        margin-right: rem(48px);
        font-size: rem(36.8px);
        font-family: Assistant-Semibold;
    }
}
.new_group_organization-data {
    background-color: rgba(0, 0, 0, 0.342);
    display: block;
    padding: 1%;
}

.new_group_contact-data {
    background-color: rgba(0, 0, 0, 0.342);
    display: block;
    padding: 1%;
}
