@import url('https://cdn.syncfusion.com/ej2/material.css');

.profile_modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: rem(1100px);
  background-color: white;
  border: none;
  border-radius: rem(3px);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;

  .profile_title {
    margin-right: rem(48px);
    background-color: #e5e5e5;
    padding: rem(5px);
    margin-top: rem(10px);
    border-top-left-radius: rem(10px);
    border-top-right-radius: rem(10px);
    max-width: 400px;
  }

  .title {
    font-size: rem(36.8px);
    font-family: Assistant-Semibold;
  }
  .profile_close-button {
    background-image: url(./../../imgs/icons/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
      transform: rotate(180deg);
    }
  }

  .profile_modal_content {
    margin-right: rem(48px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: rem(950px);
    height: rem(500px);
  }

  .profile_modal_content_top {
    display: flex;
    background: #e5e5e5;
    border-top-left-radius: rem(10px);
    border-bottom-left-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    width: rem(800px);
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .profile_modal_content_bottom {
    display: flex;
    justify-content: space-between;
    height: rem(350px);
  }

  .profile_modal_content_right {
    display: flex;
    flex-direction: column;
  }

  .profile_modal_content_center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: rem(160px);
  }

  .profile_modal_content_left {
    display: flex;
    flex-direction: column;
  }

  .profile_pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(160px);
    margin-left: rem(48px);
  }

  .profile_pic_img {
    position: relative;
    width: rem(85px);
    height: rem(85px);
    background: #bcbcbc;
    border-radius: 50%;
  }
  .profile_pic_status {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .profile_details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .profile_details_content {
    border: none;
    padding: 2%;
    text-indent: 5%;
  }

  .profile_details_packages {
    display: flex;
    justify-content: space-between;
    width: rem(480px);
    column-gap: 15px;
  }

  .profile_modal_label {
    font-size: rem(16px);
    display: block;
  }

  .profile_modal_input {
    width: rem(226px);
    height: rem(40px);
    margin: 0.3rem 0 1.2rem 0;
    background-color: white;
    border-color: black;
    border-radius: rem(5px);
    border-width: rem(1px);
    padding-right: rem(8px);
  }

  .profile_modal_input_mail {
    padding-left: rem(8px);
    direction: ltr;
  }

  .profile_modal_input_date {
    width: rem(126px);
    height: rem(30px);
    margin: 0.3rem 0 1.2rem 0;
    background-color: white;
    border-color: black;
    border-radius: rem(5px);
    border-width: rem(1px);
    padding-right: rem(8px);
  }

  .attached_files {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: rem(280px);
    height: rem(42px);
    background-color: #e5e5e5;
    border-radius: rem(4px);
  }

  .selection_group_package {
    display: flex;
    justify-content: space-between;
  }

  .selection_group_btns {
    padding: rem(11.2px);
  }

  .volunteering_hours {
    display: flex;
    justify-content: space-between;
    width: rem(160px);
    margin-bottom: rem(20px);
  }

  .reported_hours {
    display: flex;
    justify-content: space-between;
    width: rem(180px);
  }

  .reported_hours_sum {
    display: flex;
    align-items: baseline;
  }

  .profile_modal_mini_input {
    width: rem(35px);
    height: rem(25px);
    margin: 0.3rem 0 1.2rem 0;
    background-color: white;
    border-color: black;
    border-radius: rem(3px);
    border-width: rem(1px);
    margin-right: rem(5px);
  }

  .dates {
    display: flex;
    justify-content: space-between;
    width: rem(320px);
    margin-bottom: rem(20px);
  }

  .e-input-group input.e-input,
  .e-input-group.e-control-wrapper input.e-input {
    width: rem(120px);
  }

  .summary_text {
    min-width: rem(320px);
    max-width: rem(320px);
    min-height: rem(110px);
    max-height: rem(110px);
    padding: rem(11.2px);
    margin: 0.3rem 0 1.2rem 0;
    background-color: white;
    border-color: black;
    border-radius: rem(5px);
    border-width: rem(1px);
    border: 'none';
  }

  .profile_modal_btn {
    font-family: Assistant-Reg;
    font-size: rem(24px);
    width: rem(226px);
    height: rem(40px);
    top: rem(-19.2px);
  }

  .disable {
    cursor: not-allowed;
    background-color: #c4c4c4;
    pointer-events: none;
  }
  .profile_modal_submit {
    font-family: Assistant-Reg;
    font-size: rem(24px);
    color: #bcbcbc;
    width: rem(300px);
    height: rem(75px);
    bottom: rem(75px);
    right: rem(280px);
  }
}
