aside {
  font-size: vh(24px);
  background: #edf7fd;
  height: 100vh;
  color: #386c92;
  .logo {
    width: vh(157px);
    height: vh(166px);
    margin-top: vh(36px);
    margin-inline-start: vh(36px);
    margin-bottom: vh(92px);
  }

  .settings {
    font-size: vh(20px);
    gap: vh(9px);
    padding-inline-start: vh(72px);
    svg {
      height: vh(20px);
      width: vh(19.46px);
    }
    &:hover {
      background-color: #386d92a9;
    }
  }
}

nav {
  margin-bottom: vh(160px);
  a {
    display: flex;
    align-items: center;
    padding-inline-start: vh(65px);
    height: vh(70px);
    transition: 0.2s;
    &.active {
      background: #fff;
      font-family: Assistant-Extrabold;
      color: #d77804;
    }
    &:hover:not(.active) {
      background-color: #386d923f;
    }
  }
}
