.status-tabs {
    overflow: hidden;
    margin-top: 20px;
}

.status-tabs button {
    float: right;
    padding: 10px 14px;
    margin: 0 10px;
    border: 1px solid #EDF7FD;
    font-size: 14px;
    color:#2A526F;
    border-bottom: none;
}

.status-tabs button span{
    padding-right: 17px;
    padding-left: 14px;
}

.status-tabs button:hover {
    background-color: #EDF7FD;
}

//Naama-active is not working yet
.status-tabs button:active {
    background-color: #EDF7FD;
    border: none;
}

.status-icon {
    height:10px;
    width: 10px;
}
