.base-table {
  flex-grow: 1;

  .MuiDataGrid-cell {
    padding: 20px !important;
  }

  .MuiDataGrid-columnHeader {
    padding: 20px !important;
    &:focus,
    &:focus-within {
      outline: none !important;
    }
  }

  .MuiDataGrid-columnHeaders {
    padding-inline-end: 18px !important;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: right;
    color: #2a526f;

    .MuiDataGrid-columnHeaderTitleContainer {
      padding: unset !important;
      p {
        font-weight: 700 !important;
      }
    }

    .MuiDataGrid-columnSeparator {
      display: none;
    }

    .filter-btn-wrapper {
      padding-inline-start: 10px;
    }

    > div {
      width: 100%;

      > div {
        &:not(:first-child) {
          width: 0 !important;
          flex-grow: 1 !important;
        }
        &:first-child {
          width: 70px !important;
        }
      }
    }

    .MuiDataGrid-columnHeaderTitle {
      font-weight: 700 !important;
    }

    * {
      min-width: unset !important;
      max-width: unset !important;
    }
  }

  .MuiDataGrid-virtualScrollerRenderZone {
    width: 100%;
    font-size: 18px;

    .MuiDataGrid-row {
      width: 100%;
      cursor: pointer;
      color: #386c92;
      &:hover {
        background-color: #edf7fd;
      }

      * {
        min-width: unset !important;
        max-width: unset !important;
      }

      .MuiDataGrid-cell {
        border-bottom: none;
        border-left: 1px dashed rgba(224, 224, 224, 1);
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-word;
        &:focus,
        &:focus-within {
          outline: none !important;
        }
      }

      > .MuiDataGrid-cell {
        &:not(:first-child) {
          width: 0;
          flex-grow: 1;
        }
      }

      > .MuiDataGrid-cell:first-child {
        width: 70px !important;
      }

      > .MuiDataGrid-cell:last-child {
        display: none;
      }
    }
  }
}
.filter-menu {
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 3px;
  border: 1px solid black;
  .filter-option.selected {
    background-color: red;
  }
}
.MuiToolbar-root {
  color: #386c92;
}
.MuiTablePagination-displayedRows {
  direction: ltr;
}
.MuiTablePagination-actions {
  display: flex;
  flex-direction: row-reverse;
}
