.user-msg-modal {
  position: fixed;
  left: 40px;
  bottom: 40px;
  background-color: white;
//   height: 40px;
  z-index: 2;
  line-height: 40px;
  padding: 30px;
  
  button {
      position: absolute;
      top: 10px;
      right: 10px;
  }

  &.failure {
      border: 2px solid $approvedHoursClr;
  }
}
