.base-table {
  height: calc(100vh - 25.37vh);
  // max-height: calc(100vh - 25.37vh);
  // width: calc(100% - 11px);
  // max-width: 1440px;
  .MuiDataGrid-root {
    border: none;
    color: $darkFont;
    font-size: vh(24px);
    line-height: vh(30px);
    font-family: Assistant-Reg;

    .MuiDataGrid-main {
      margin-inline-end: 6px;
      overflow-x: auto;
      overflow-y: auto;

      .MuiDataGrid-columnHeaders {
        position: sticky;
        // width: calc(100vw - 27.59vh - 17px);
        background: white;
        z-index: 1;
        // overflow: visible;
        min-height: vh(100px) !important;
        max-height: vh(100px) !important;
        border-top: 1px solid $scrollClr;
        border-bottom: 1px solid $scrollClr;
        left: unset;
        right: unset;
        overflow: unset;
        .MuiDataGrid-columnHeader {
          min-width: vw(205px) !important;
          max-width: unset !important;
          padding: 0;
          // justify-content: center;
          &:focus,
          &:focus-within {
            outline: none;
          }
          &:first-of-type {
            margin-inline-start: vh(28px);
          }
          // don't show 'sort icon' on filterable columns hover
          &[data-field='status'],
          &[data-field='volunteerType'],
          &[data-field='misgeretType'] {
            &:hover {
              .MuiDataGrid-iconButtonContainer {
                display: none;
              }
            }
          }
          .MuiDataGrid-columnHeaderDraggableContainer {
            width: unset !important;
            .MuiDataGrid-columnHeaderTitleContainer {
              font-family: Assistant-Semibold;
              .MuiDataGrid-columnHeaderTitle {
                line-height: 1.2;
                white-space: pre-line;
                overflow: visible;
                text-align: center;
              }
              .filter-btn-wrapper {
                order: 1;
                flex-grow: 1;
                flex-direction: row-reverse;
                display: flex;
                .show-filter-btn {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: vh(24px);
                  width: vh(24px);
                  border-radius: 50%;
                  &:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                  }
                  svg {
                    height: vh(7px);
                    width: vh(10px);
                  }
                }
              }
            }
          }
        }

        .MuiCheckbox-root svg {
          color: $darkFont;
          height: vh(26px);
          width: vh(26px);
        }

        .MuiDataGrid-iconSeparator {
          max-width: 0;
        }
      }

      .MuiDataGrid-cellCheckbox {
        color: $lightCheckbox;
        margin-inline-start: vh(28px);
      }
      .MuiCheckbox-root svg {
        height: vh(26px);
        width: vh(26px);
      }
      .MuiDataGrid-virtualScroller {
        margin-top: 0 !important;
        width: calc(100vw - 27.59vh - 17px) !important;
        overflow-x: visible !important;
        overflow-y: visible;
        // width: unset !important;

        // width: calc(100vw - 330px) !important;
        // height: calc(100vh - 270px - 11px - 110px) !important;
        .MuiDataGrid-virtualScrollerContent {
          height: unset !important;
        }
        // .MuiDataGrid-virtualScrollerRenderZone {
        // width: 100% !important;
        .MuiDataGrid-cellCheckbox .MuiCheckbox-root:hover {
          background-color: inherit;
        }
        // }

        .MuiDataGrid-row {
          cursor: pointer;
          min-height: vh(64px) !important;
          height: vh(64px) !important;
          max-height: unset !important;
          height: fit-content !important;
          width: 100% !important;

          .MuiDataGrid-cell {
            min-height: vh(64px) !important;
            height: vh(64px) !important;
            max-height: unset !important;
            white-space: pre-line;
            border-bottom: none;
            flex-wrap: wrap;
            // padding: 10px;
            //status
            .reported-hours {
              color: $reportedHoursClr;
            }
            .approved-hours {
              color: $approvedHoursClr;
            }
            &:not(:last-of-type) {
              border-inline-start: 1px dashed $scrollClr;
              min-width: vw(205px) !important;
            }
            &:nth-of-type(2) {
              display: flex;
              justify-content: center;
              svg {
                width: vh(48px);
                height: vh(48px);
              }
            }
            // extra cell with 400px width added for some reason..
            &:last-of-type {
              width: 0 !important;
              max-width: 0 !important;
              padding: 0 !important;
            }
            // center hours column
            &:nth-last-of-type(2) {
              justify-content: center;
              padding-inline-end: 0 !important;
            }

            &:focus,
            &:focus-within {
              outline: none;
            }
          }
        }
      }

      // columns flex-grow
      .MuiDataGrid-columnHeaders
        .MuiDataGrid-columnHeadersInner
        .MuiDataGrid-columnHeader,
      .MuiDataGrid-virtualScroller .MuiDataGrid-row .MuiDataGrid-cell {
        // max-width: unset !important;
        &:first-of-type,
        &:nth-of-type(2) {
          min-width: vw(118px) !important;
          flex: 1 0 vw(118px);
          // max-width: rem(118px) !important;
        }
        // .MuiDataGrid-columnHeader {
        //   // max-width: unset;
        //   &:first-of-type,
        //   &:nth-of-type(2) {
        //     min-width: vw(118px) !important;
        //     flex: 1 0 vw(118px);
        //   }
        // }
        // &:first-of-type svg {
        // }

        &[data-field='firstName'],
        &[data-field='lastName'],
        &[data-field='taz'] {
          flex: 2 0 vw(204px);
        }

        &[data-field='volunteerType'],
        &[data-field='misgeretType'] {
          flex: 5 1 vw(230px);
          // flex-grow: 1.5;
        }
        &[data-field='volunteerHours'] {
          flex: 3 0 vw(204px);
        }

        // &:last-of-type {
        //   // width: 0;
        //   // max-width: 0 !important;
        // }
      }

      // table scrollbars
      &::-webkit-scrollbar {
        width: 11px;
        height: 11px;
      }
      &::-webkit-scrollbar-track:horizontal {
        margin-inline-start: 10px;
      }
      &::-webkit-scrollbar-track:vertical {
        margin: 3px;
      }
      &::-webkit-scrollbar-track-piece {
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2rem;
        background: $scrollClr;
      }
    }

    .MuiDataGrid-toolbarContainer {
      display: none;
      padding: 0 !important;
    }
  }

  .loader svg {
    width: vh(150px);
    height: vh(150px);
  }
}

.filter-menu {
  position: absolute;
  background-color: white;
  z-index: 2;
  padding: 3px;
  border: 1px solid black;
  .filter-option.selected {
    background-color: red;
  }
}
