name: Deploy

on:
  push:
    branches:
      - main


jobs: 
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: build client and adjust build folder location
        run: |
          npm --prefix '../client' run build:prod
          mv -v client/build ./public
        
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: 752107bc-0f2f-4d6f-9513-93032857e9a5
          heroku_app_name: "lasova-mgmt"
          heroku_email: "lasova.devops@gmail.com"
